<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Login</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="container">

    <h1>Admin Login</h1>
	<!-- Error Message -->
	    <p th:if="${msg}" th:text="${msg}" class="error"></p>

    <form action="/login" method="post">

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>

    </form>

    <p class="error" th:if="${msg}" th:text="${msg}"></p>

    <a href="/register" class="link-btn">Create New Admin Account</a>

</div>

</body>
</html>