<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Admin Account</title>
<link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div class="container">

    <h1>Create Admin Account</h1>

    <form action="/register" method="post">

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Create Account</button>

    </form>

    <a href="/admin" class="link-btn">Already have an account? Login</a>

</div>

</body>
</html>